<ion-view view-title="Discover" class="discover-page" ng-controller="DiscoverCtrl as discover">
    <ion-content scroll="false">


        <div class="list card current-song"
             ng-show="discover.currentSong && !discover.currentSong.animating"
             ng-class="{skipped: discover.currentSong.rated === false,
                        rated: discover.currentSong.rated === true}">

            <div class="item item-image">
                <img ng-src="{{ discover.currentSong.image_large }}">
            </div>

            <div class="item">
                <h2>{{ discover.currentSong.title }}</h2>
                <p>{{ discover.currentSong.artist }}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="discover.sendFeedback(false)">
                    <i class="icon ion-close"></i>
                    Skip
                </a>
                <a class="tab-item" ng-click="discover.sendFeedback(true)">
                    <i class="icon ion-heart"></i>
                    Favorite
                </a>
            </div>

        </div>


    </ion-content>
</ion-view>
