<ion-view view-title="Discover" class="discover-page" ng-controller="DiscoverCtrl as discoverCtrl">
    <ion-content scroll="false">

        <!-- Prefetch -->
        <img ng-src="{{discoverCtrl.nextImage}}" width="1" height="1"/>

        <div class="list card current-song"
             ng-show="discoverCtrl.currentSong && !discoverCtrl.currentSong.animating"
             ng-class="{skipped: discoverCtrl.currentSong.rated === false,
                        rated: discoverCtrl.currentSong.rated === true}">

            <div class="item item-image">
                <img ng-click="discoverCtrl.playPauseSong()" ng-src="{{ discoverCtrl.currentSong.image_large }}">
            </div>

            <div class="item">
                <h2>{{ discoverCtrl.currentSong.title }}</h2>
                <span ng-show="discoverCtrl.currentSong.loaded === false"><i class="icon ion-loading-c"></i></span>
                <p>{{ discoverCtrl.currentSong.artist }}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="discoverCtrl.sendFeedback(false)">
                    <i class="icon ion-close"></i>
                    Skip
                </a>
                <a class="tab-item" ng-click="discoverCtrl.sendFeedback(true)">
                    <i class="icon ion-heart"></i>
                    Favorite
                </a>
            </div>

        </div>

    </ion-content>
</ion-view>
