<ion-view view-title="Discover" hide-nav-bar="true" class="splash-page" ng-controller="SplashCtrl as splashCtrl">
    <ion-content scroll="false">

        <div class="logo padding">
            <h1>Discover</h1>
        </div>

        <div class="login-form">
            <div class="card">
                <div class="list">
                    <label class="item item-input">
                        <input type="text"
                               ng-model="splashCtrl.username"
                               placeholder="Enter your {{ splashCtrl.isSignUp ? 'desired' : 'Discover' }} username">
                    </label>
                </div>
            </div>

            <div class="padding-left padding-right">
                <button class="button button-block action-button"
                        ng-class="{'button-positive': !splashCtrl.isSignUp, 'button-balanced': splashCtrl.isSignUp}"
                        ng-click="splashCtrl.submitForm()">
                    {{ splashCtrl.isSignUp ? 'Sign up' : 'Sign in' }}
                </button>
            </div>
        </div>


        <div class="padding signup-opt" ng-click="splashCtrl.isSignUp = !splashCtrl.isSignUp">
            <a href="#" ng-show="splashCtrl.isSignUp">Have an account? Sign in!</a>
            <a href="#" ng-hide="splashCtrl.isSignUp">Need an account? Sign up!</a>
        </div>

    </ion-content>
</ion-view>
